/* EYE */
.eye {
	height: 40px;
	position: relative;
	width: 40px;
}
.eye__top {
	background: url(../img/eye__top.svg) left top no-repeat;
	height: 22px;
	left: 4px;
	position: absolute;
	top: 0;
	transform: scale(-1,-1);
	transform-origin: center 20.5px;
	transition: transform ease .5s;
	width: 32px;
}
.eye__iris {
	background-color: #585db8;
	border-radius: 50%;
	height: 8px;
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%) scale(1,0);
	transition: transform ease .1s, opacity ease .2s;
	width: 8px;
}
.eye__bottom {
	background: url(../img/eye__bottom.svg) left top no-repeat;
	bottom: 8px;
	height: 13px;
	left: 4px;
	position: absolute;
	width: 32px;
}



/* ACTIVE */
.password--visible .eye__top {
	transform: scale(-1,1);
}
.password--visible .eye__iris {
	opacity: 1;
	transform: translate(-50%,-50%) scale(1,1);
	transition: transform ease .3s, opacity ease .3s;
	transition-delay: .2s;
}
