/* COMMON */
.page {
  background: #6FA5F6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



/* CONTAINER */
.password {
  background: #121726;
  position: relative;
  width: 328px;
  height: 65px;
  border-radius: 6px;
}
.password::before {
  content: '';
  width: 35px;
  height: 35px;
  transform: translateY(-50%);
  position: absolute;
  left: 14px;
  top: 50%;
  background: url(../img/padlock.svg) center center no-repeat;
  background-size: 18px;
  z-index: 3;
}
.password--visible::before {
  background-image: url(../img/padlock-alt.svg);
  z-index: 3;
}



/* OVERLAY */
.password__button-overlay {
  background: #fff;
  border-radius: 50%;
  right: 26px;
  top: 15px;
  left: 267px;
  bottom: 15px;
  position: absolute;
  transition: all ease-in-out .09s;
  z-index: 1;
}
.password--visible .password__button-overlay {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 6px;
}



/* FIELD */
.password__field {
  position: relative;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: 0;
  background-color: transparent;
  padding-left: 56px;
  padding-right: 90px;
  font-size: 20px;
  color: #565CC0;
  outline: none;
}



/* BUTTON */
.password__visibility {
  position: absolute;
  z-index: 3;
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: 0;
  height: 1px;
  overflow: hidden;
  padding-top: 34px;
  width: 35px;
  background-color: transparent;
  outline: none;
}
.password__visibility .eye {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-51.5%,-51%) scale(.65);
}